htmp, body{
  margin:0;
  padding:0;
  overflow:hidden;
}

#toolbar {
  height:2em;
  position:fixed;
  top:0px;
  width:100%;
  background-color: #aaa;
}

#main {
  top:2em;
  position:fixed;
}

#toolbox {
  background-color: #aaa;
  top:0px;
  width:12em;
  position:absolute;
}

#compose {
  background-color: #ddd;
  top:0px;
  margin-left:12em;
  width:100%;
  position:absolute;
}

#dragOutline {
  border:2px dashed black;
  width:6em;
  height:2em;
  position: absolute;
}
#dragOutline.hidden {
  display:none;
}

#offsetSpacer{
  width:6em;
  height:2em;
  position:absolute;
  display:none;
}

.notes {
  background-color: blue;
  border: 1px solid black;
  padding:2px;
  height:2em;
  margin: 12px;
  color:white;
  box-shadow: 4px 4px 4px #888888;
}

.phrase { /* used in the composition */
  position:absolute; /* positioned via code... */
  background-color: white;
  border: 1px solid black;
  padding:2px;
  height:2em;
  width: 5em;
  box-shadow: 10px 10px 5px #888888;
}

/* dalog stuff */
#dialog {
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
}

#dialog .innerBox {
  position:absolute;
  width:80%;
  margin-left:10%;
  margin-right:10%;
  margin-top:10%;
  border:2px solid black;
  border-radius: 8px;
  background-color: white;
  padding:12px;
  box-shadow: 10px 10px 5px #000000;
}
#dialog.hidden {
  display: none;
}
